.wrapper {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $glassEffectBackground;
    border: 0.2rem solid $glassEffectBackground;
    border-radius: 0.75rem;
    box-shadow: $boxShadow;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    margin: 0 auto;
}

.title {
    font-size: clamp(1.6rem, 0.3429rem + 3.9286vw, 6rem);
}

.form {
    position: relative;
}

.textarea {
    width: clamp(20rem, 4.2857rem + 49.1071vw, 75rem);
    font-weight: $fontWeightMedium;
    font-size: $adaptiveFontSize;
    margin: 3.5rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    resize: none;
    border: $mainRed 0.2rem dotted;

    &:focus {
        border: $mainRed 0.2rem solid;
    }
}

.label {
    font-weight: 500;
    position: absolute;
    top: 4rem;
    left: 1rem;
    color: $mainWhite;
    transition: 250ms;
    pointer-events: none;
    font-size: $adaptiveFontSize;
}

.textarea:focus + .label,
.textarea:valid + .label {
    top: 0.5rem;
    left: 0.5rem;
}

.inputText {
    padding: 1rem;
    font-weight: $fontWeightMedium;
}

.output {
    padding: 1rem;
    border-radius: 1rem;
    background-color: $mainRed;
}

.outputText {
    font-weight: $fontWeightMedium;
    font-size: $adaptiveFontSize;
    color: $grayColor;
}

.errorMessage {
    font-weight: $fontWeightMedium;
    font-size: $adaptiveFontSize;
    color: $mainRed;
}

.clearButton {
    font-weight: $fontWeightMedium;
    font-size: $adaptiveFontSize;
    transition: all 200ms ease-in-out;
    position: absolute;
    top: clamp(8.5rem, 6.6429rem + 5.8036vw, 15rem);
    right: 1rem;
    color: $mainRed;

    &:hover {
        transform: scale(1.1);
    }

    &:active,
    &:focus {
        transform: scale(0.95);
    }
}
