$mainRed: #ee4266;
$mainWhite: #fff;
$bodyBackground: linear-gradient(320deg, #f27121, #e94057, #8a2387);
$glassEffectBackground: rgba(255, 255, 255, 0.3);
$boxShadow: 0 0.4rem 0.3rem rgba(0, 0, 0, 0.1);
